<?xml version="1.0" encoding="UTF-8"?>
<!--
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
# http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
-->
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "at.ac.fh-salzburg.app"
        versionCode = "1" 
        version     = "0.0.1" >

    <name>ITS App</name>

    <description>
        Eine App für den Studiengang ITS an der Fachhochschule Salzburg 
    </description>

    <author>
        Neumann, Steinberger, Gruen
    </author>

<!-- gap:platform name="ios" / -->
<gap:platform name="android" />
<gap:platform name="winphone" />
<gap:plugin name="com.phonegap.plugins.barcodescanner" version="0.6.0" />

<feature name="debug-server" required="true">
    <param name="domain" value="http://192.168.2.101:8081"/>
    <param name="key" value="12345"/>
  </feature>



<preference name="phonegap-version" value="2.9.0" />
<preference name="permissions" value="none"/>

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/network"/>

  <access origin="*fh-salzburg.ac.at*"/>

</widget>
